.puzzles svg
{
        min-width: 400px;
        min-height: 400px;        
        margin: 10px; 
}


.mainHeadline { font-size: 4rem ; }
.spinner {width: 100px; height: 80px; position: absolute; right: 50%; top: 50%; text-align: center; background-color: white; border: solid black 1px;} 
.link { cursor: pointer; }
.success {color: green;}
.error { color: red;}
.tokenInfo { font-size: small; font-style: italic; }
.chainSection {text-align: center; }
.transactionElement { border-radius: 15px; margin: 5px 5px 5px 0; }
.connect { margin: 2px; }
.disconnect { width: 200px; height: 40px; margin: 2px; font-size: 1.2em;}
.container { padding: 0 2rem;  }
.content { padding: 5% 15% 0 15%; }
.stats { padding: 10px; }
.unavailable { padding-right: 10px; color: red;}
.info { padding-right: 10px; }
.owner { padding: 10px; border: black solid 1px; margin-top: 5px; }
.tokenSnap {max-width: 400px; display: block; float: none;}
